.deps/
.libs/
Makefile
Makefile.in
*.o
*.la
*.lo

/aclocal.m4
/autom4te.cache/
/build-aux/
/config.*
/configure
/configure~
/libtool
/stamp-h1

/doxygen.cfg
/*.pc

/examples/nfct-mnl-create
/examples/nfct-mnl-del
/examples/nfct-mnl-dump
/examples/nfct-mnl-dump-labels
/examples/nfct-mnl-event
/examples/nfct-mnl-flush
/examples/nfct-mnl-get
/examples/nfct-mnl-set-label
/examples/nfexp-mnl-dump
/examples/nfexp-mnl-event
/tests/test_connlabel
/utils/expect_create_nat
